@using Models
@model ReportViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.ReportName" class="form-label fieldrequired"><strong>@Localizer["Report Name"] :</strong></label>
            <input asp-for="@Model.ReportName" class="form-control" maxlength="255" />
            <span asp-validation-for="@Model.ReportName" class="text-danger"></span>
        </div>
    </div>
	<div class="col">
        <div class="mb-3">
            <label asp-for="@Model.ReportDescription" class="form-label"><strong>@Localizer["Description"] :</strong> </label>
            <textarea asp-for="@Model.ReportDescription" class="form-control" maxlength="1000" rows=4></textarea>
            <span asp-validation-for="@Model.ReportDescription" class="text-danger"></span>
            <span class="form-label margin-top-10"><i>@WebConstants.ReportQueryAIGenerationInstruction</i></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.QueryType" class="form-label fieldrequired"><strong>@Localizer["Query Type"] :</strong></label>
            <select asp-for="@Model.QueryType" class="form-control" asp-items="@(dropdownService.QueryTypeList())">
                <option value="">- Select Query Type -</option>
            </select>
            <span asp-validation-for="@Model.QueryType" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.ReportOrChartType" class="form-label fieldrequired"><strong>@Localizer["Report / Chart Type"] :</strong></label>        
            <select asp-for="@Model.ReportOrChartType" class="form-control" asp-items="@(dropdownService.ReportChartTypeList())">
                <option value="">- Select Report/Chart Type -</option>
            </select>
            <span asp-validation-for="@Model.ReportOrChartType" class="text-danger"></span>
        </div>
    </div>
    @if (Model.QueryType == OracleCMS.CarStocks.Core.Constants.QueryType.QueryBuilder)
    {
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.IsDistinct" class="form-label"><strong>@Localizer["Distinct"] :</strong></label>
                <input asp-for="@Model.IsDistinct" class="custom-checkbox-label" />
                <span asp-validation-for="@Model.IsDistinct" class="text-danger"></span>
            </div>
        </div>
    }
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.DisplayOnDashboard" class="form-label "><strong>@Localizer["Display on Dashboard"] :</strong></label>
            <input asp-for="@Model.DisplayOnDashboard" class="custom-checkbox-label" />
            <span asp-validation-for="@Model.DisplayOnDashboard" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.DisplayOnReportModule" class="form-label "><strong>@Localizer["Display On Report Module"] :</strong></label>
            <input asp-for="@Model.DisplayOnReportModule" class="custom-checkbox-label" />
            <span asp-validation-for="@Model.DisplayOnReportModule" class="text-danger"></span>
        </div>
    </div>
    @if (Model.DisplayOnDashboard || Model.DisplayOnReportModule)
    {
        <div class="col">
            <div class="mb-3">
                <label asp-for="@Model.Sequence" class="form-label"><strong>@Localizer["Sequence"] :</strong></label>
                <input asp-for="@Model.Sequence" class="form-control" />
                <span asp-validation-for="@Model.Sequence" class="text-danger"></span>
            </div>
        </div>
    }  
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.ReportRoleAssignmentList" class="form-label "><strong>@Localizer["Roles"] :</strong></label>
            <select asp-for="@Model.ReportRoleAssignmentList"
                    class="select2MultipleBusinessUnits form-control"
                    asp-items="@(await dropdownService.GetRoleList())" multiple>
            </select>
            <span asp-validation-for="@Model.ReportRoleAssignmentList" class="text-danger"></span>
        </div>
    </div>
</div>
