@page
@model DetailsModel

@{
    ViewData["Title"] = Localizer["Application Details"];
    ViewData["ActiveMainPage"] = "Applications";
    ViewData["Level1"] = "Admin";
}
<div class="card">
    <h5 class="card-header"><span class="card-header-custom">@Localizer["Application Details"]</span><br></h5>
    <div class="card-body">
        <div class="form-group row">
            <label asp-for="@Model.Application.ClientId" class="col-md-3 col-form-label"></label>
            <div class="col-md-9">
                <input asp-for="@Model.Application.ClientId" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.Application.ClientSecret" class="col-md-3 col-form-label"></label>
            <div class="col-md-9">
                <input asp-for="@Model.Application.ClientSecret" class="form-control" readonly />
            </div>
        </div>
        <div class="alert alert-warning">
            Copy the client secret and store in a secure place.
        </div>
    </div>
</div>
<div id="toolbar-container" class="btn-group" role="group">
    <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Close"]"><i class="fas fa-ban"></i></a>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {

}