@page
@model EditModel
@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Edit Application"];
    ViewData["ActiveMainPage"] = "Applications";
    ViewData["Level1"] = "Admin";
}
<form id="application-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <h5 class="card-header"><span class="card-header-custom">@Localizer["Application Info"]</span><br></h5>
        <div class="card-body">
            <partial name="_EditApplicationDetails" model="Model.Application" />
        </div>
    </div>
    <br />
    <div class="card">
        <h5 class="card-header"><span class="card-header-custom">@Localizer["Permissions"]</span><br></h5>
        <div class="card-body overflow-x-scroll">
            <partial name="_EditPermissions" model="Model.ApplicationPermissions" />
        </div>
    </div>
    <div id="toolbar-container" class="btn-group" role="group">
        <a asp-page="Index" id="btnCancelConfirmationModal" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
		<button asp-page-handler="Generate" type="submit" class="btn btn-primary" title="@Localizer["Save changes"]"><i class="fas fa-key"></i></button>
        <button type="button" id="btnConfirmationModal" class="btn btn-success text-light" title="@Localizer["Save changes"]"><i class="fas fa-save"></i></button>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_DataTableScripts" />
<script asp-add-nonce>
    $(document).ready(function () {
		$.bindSaveConfirmationModal('Save', '#btnConfirmationModal', '#application-form');
		$.bindCancelConfirmationModal('Cancel', '#btnCancelConfirmationModal', '#application-form', 'Do you want to cancel the changes?');
        var permissions = $("#permissions").DataTable({
            select: false,
            searching: true,
            paging: true,
			dom: '@Html.Raw(OracleCMS.CarStocks.Web.WebConstants.DataTableDOMLayOut)',
            info: true,
            buttons: [],
            columnDefs: [
                {
                    targets: [1],
                    orderDataType: 'dom-checkbox',
                }
            ]
        });
        $('#application-form').onSubmitIncludeAllFieldsFromTable(permissions);
    });
</script>
}