@page
@model IndexModel

@section Styles {
    <partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Audit Logs"];
    ViewData["ActiveMainPage"] = "AuditTrail";
    ViewData["Level1"] = "Admin";
    var toolBarModel = new OracleCMS.CarStocks.Web.Models.ListingToolbarModel(Localizer["Audit Logs"].Value);
}
<partial name="_ListingsToolbarPartial" model=@(toolBarModel) />
<div class="card">
    <div class="card-body overflow-x-scroll">
        <table id="auditLogs" class="table table-hover table-bordered table-striped table-responsive nowrap fills-table" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AuditLog.DateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuditLog.PrimaryKey)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuditLog.TableName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuditLog.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuditLog.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuditLog.TraceId)
                    </th>
                    <th>
                        @Localizer["Actions"]
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
    <partial name="_DataTableScripts" />
    <script asp-add-nonce>
        $(document).ready(function () {
            var table = $('#auditLogs').DataTable({
                select: false,
                serverSide: true,
                responsive: true,
                order: [[0, 'desc']],
                dom: '@Html.Raw(OracleCMS.CarStocks.Web.WebConstants.DataTableDOMLayOut)',
                ajax:
                {
                    url: '@Url.Page("/AuditTrail/Index", new { area = "Admin", handler = "ListAll" })',
                    type: "POST",
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                },
                columns: [
                    { data: "dateTime", name: "DateTime", visible: true, width: "100%", searchable: false },
                    { data: "primaryKey", name: "PrimaryKey", visible: true, width: "100%", },
                    { data: "tableName", name: "TableName" },
                    { data: "type", name: "Type" },
                    { data: "userId", name: "UserId", visible: true, },
                    { data: "traceId", name: "TraceId", visible: true, },
                    {
                        data: null,
                        searchable: false,
                        orderable: false,
                        responsivePriority: 2,
                        orderable: false,
                        width: "10%",
                        className: "text-center",
                        render: function (data, type, row, meta) {
                            var url = '@Url.Page("/AuditTrail/Details", new { area = "Admin" })' + '?id=' + row.id;
                            var button = '<a href="' + url + '" class="btn btnFills btnInfoIcon" title="@Localizer["View"]"></a>';
                            return button;
                        },
                    },
                ],
                buttons: [
                    'pageLength',
                ],
            });
            var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search
            $.InitializeSearchKeyCookies(table);
        });
    </script>
}