@using Models
@model ScopeViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label fieldrequired"><strong>Name :</strong></label>
            @if (string.IsNullOrWhiteSpace(Model.Name))
            {
                <input asp-for="@Model.Name" class="form-control" maxlength="255" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            }
            else
            {
                <input asp-for="@Model.Name" class="form-control" readonly />
            }
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.DisplayName" class="form-label fieldrequired"><strong>Description :</strong></label>
            <input asp-for="@Model.DisplayName" class="form-control" maxlength="255" />
            <span asp-validation-for="@Model.DisplayName" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.Resources" class="form-label fieldrequired"><strong>API URL :</strong></label>
            <input asp-for="@Model.Resources" class="form-control" maxlength="255" />
            <span asp-validation-for="@Model.Resources" class="text-danger"></span>
        </div>
    </div>
</div>
