@using Models
@model OracleCMS.CarStocks.Web.Areas.CarStocks.Models.ChangeHistoryMainModel
@{   
    var userHelper = new OracleCMS.CarStocks.Web.Helper.UserHelper(Mediator);
}
<div class="timeline-panel">
    <div class="timeline-heading">
        <h6 class="timeline-title"><i class="fas fa-calendar-alt"></i>@Model.DateTimeFormatted</h6>
        <p class="timeline-history"><small class="text-muted"><i class="fas fa-history"></i>@(string.IsNullOrEmpty(Model.DateTimeDuration) ? "Just now" : Model.DateTimeDuration + " ago") by @Html.Raw(await userHelper.GetUserName(Model.UserId!))</small></p>
    </div>
</div>
@foreach (var item in Model.ChangeHistoryList.OrderBy(l => l.Sequence))
{
    <div class="card">
        <h5 class="card-header"><span class="card-header-custom">@Html.Raw(item.AuditTypeBadge) @item.TableName</span><br></h5>
        <div class="card-body history-details">
            <table class="table table-hover table-bordered table-striped responsive nowrap fills-table" width="100%">
                <tbody>
                    @foreach (var property in item.MergedChanges.Properties())
                    {
                        <tr class="">
                            <td class="timeline-changes-propertyname">@property.Name</td>                      
                            <td class="padding-left-10 timeline-changes-details">@Html.Raw(property.Value)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}