@using Models
@model ApproverSetupViewModel
<input type="hidden" id="ApproverAssignmentCount" value="@Model?.ApproverAssignmentList?.Count" />

<div class="card">
    <h5 class="card-header">
        <span class="card-header-custom">@Localizer["Approver Assignment"]</span>
        <a id="btnAddApproverAssignment" class="btn btnMaterial btn-flat primary semicircle cancel btnAddRemoveSubDetailList text-light" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
        <button class="cancel d-none" type="button" id="btnRemoveApproverAssignment" value="RemoveApproverAssignment"></button>
    </h5>
    <div class="card-body overflow-x-scroll">
        <table id="approverAssignment" class="table table-hover table-bordered table-striped responsive nowrap fills-table" width="100%">
            <thead>
                <tr>
                    <th class="d-none"></th>
                    <th>
						@Localizer["Approver Type"]
					</th>
					<th>
						@Localizer["Approver"]
					</th>
					<th>
						@Localizer["Sequence"]
					</th>
					<th>
						@Localizer["Action"]
					</th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.ApproverAssignmentList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.ApproverAssignmentList.OrderBy(l=>l.Sequence))
                    {
                        <tr>
                            <td class="d-none">
                                <input type="hidden" name="ApproverAssignmentList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="ApproverAssignmentList[@counter].ApproverSetupId" value="@item.ApproverSetupId" />
                            </td>
							<td>
								<select asp-for="@item.ApproverType" name="ApproverAssignmentList[@counter].ApproverType" asp-items="@OracleCMS.CarStocks.Core.CarStocks.ApproverTypes.ApproverTypeList.Select(l => new SelectListItem { Value = l, Text = l })" class="form-control SelectApproverTypeDropdown">
									<option selected="selected" value="">- Select Approver Type -</option>
								</select>
								<span data-valmsg-for="ApproverAssignmentList[@counter].ApproverType" asp-validation-for="@item.ApproverType" class="text-danger"></span>
							</td>
							<td>
								@if (@item.ApproverType == @OracleCMS.CarStocks.Core.CarStocks.ApproverTypes.User)
								{
									<select asp-for="@item.ApproverUserId" name="ApproverAssignmentList[@counter].ApproverUserId" asp-items="@(await dropdownService.GetUserList(@item.ApproverUserId!, Model.ApproverAssignmentList.Select(l=>l.ApproverUserId).ToList()!))" class="form-control SelectApproverDropdown">
										<option selected="selected" value="">- Select Approver -</option>
									</select>
									<span data-valmsg-for="ApproverAssignmentList[@counter].ApproverUserId" asp-validation-for="@item.ApproverUserId" class="text-danger"></span>
								}
								else if (@item.ApproverType == @OracleCMS.CarStocks.Core.CarStocks.ApproverTypes.Role)
								{
									<select asp-for="@item.ApproverRoleId" name="ApproverAssignmentList[@counter].ApproverRoleId" asp-items="@(await dropdownService.GetRoleApproverList(@item.ApproverRoleId!, Model.ApproverAssignmentList.Select(l=>l.ApproverRoleId).ToList()!))" class="form-control SelectApproverDropdown">
										<option selected="selected" value="">- Select Approver Role -</option>
									</select>
									<span data-valmsg-for="ApproverAssignmentList[@counter].ApproverRoleId" asp-validation-for="@item.ApproverRoleId" class="text-danger"></span>
								}
							</td>
							<td>
								<input asp-for="@item.Sequence" name="ApproverAssignmentList[@counter].Sequence" value="@(counter+1)" class="form-control" maxlength="9" readonly />
								<span data-valmsg-for="ApproverAssignmentList[@counter].Sequence" asp-validation-for="@item.Sequence" class="text-danger"></span>
							</td>

							<td>
								<button type="button" class="btn btnMaterial btn-flat primary semicircle MoveDownApproverAssignmentButton cancel" title="@Localizer["Move-down"]" moveDownId="@(item.Id)">
									<i class="fas fa-caret-down"></i>
								</button>
								<button type="button" class="btn btnMaterial btn-flat primary semicircle MoveUpApproverAssignmentButton cancel" title="@Localizer["Move-up"]" moveUpId="@(item.Id)">
									<i class="fas fa-caret-up"></i>
								</button>								
								<button type="button" class="btn btnMaterial btn-flat accent semicircle RemoveApproverAssignmentButton cancel" title="@Localizer["Remove ApproverAssignment"]" removeId="@(item.Id)">
									<i class="fas fa-trash"></i>
								</button>
							</td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>


