@using Models
@model ApproverSetupViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.TableName" class="form-label fieldrequired"><strong>@Localizer["Table Name"] :</strong></label>
            <select asp-for="@Model.TableName" class="form-control" asp-items="@OracleCMS.CarStocks.Core.CarStocks.ApprovalModule.ApprovalTableList.Select(l => new SelectListItem { Value = l, Text = l })">
                <option value="">- Select Table Name -</option>
            </select>
            <span asp-validation-for="@Model.TableName" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.ApprovalType" class="form-label fieldrequired"><strong>@Localizer["Approval Type"] :</strong></label>
            <select asp-for="@Model.ApprovalType" class="form-control" asp-items="@OracleCMS.CarStocks.Core.CarStocks.ApprovalTypes.ApprovalTypeList.Select(l => new SelectListItem { Value = l, Text = l })">
                <option value="">- Select Approval Type -</option>
            </select>
            <span asp-validation-for="@Model.ApprovalType" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.EmailSubject" class="form-label fieldrequired"><strong>@Localizer["Email Subject"] :</strong></label>
            <input asp-for="@Model.EmailSubject" class="form-control" maxlength="255" />
            <span asp-validation-for="@Model.EmailSubject" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.EmailBody" class="form-label fieldrequired"><strong>@Localizer["Email Body"] :</strong></label>
            <textarea asp-for="@Model.EmailBody" class="form-control" rows=8></textarea>
            <span asp-validation-for="@Model.EmailBody" class="text-danger"></span>
        </div>
    </div>
</div>

