@page
@model DetailsModel
@{
    ViewData["Title"] = Localizer["View Approval Setup"];
    ViewData["ActiveMainPage"] = "Approval";
    ViewData["Level1"] = "Admin";
}
<div class="container-fluid" id="approverSetup-container">
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
	<div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.ApproverSetup" />
    </div> 
</div>
<div id="toolbar-container" class="btn-group" role="group">
    <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Close"]"><i class="fas fa-ban"></i></a>
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ApproverSetup.Create)).Succeeded)
    {
        <a asp-page="Add" class="btn btn-success text-light" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ApproverSetup.Edit)).Succeeded)
    {
        <a asp-page="Edit" asp-route-id="@Model.ApproverSetup.Id" class="btn btn-primary" title="@Localizer["Edit"]"><i class="fas fa-pen"></i></a>
    }   
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_DisableFieldsPartial" model="@("approverSetup-container")" />
}