@using Models
@model DealersViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DealerName" class="form-label"><strong>@Localizer["Dealer Name"] :</strong></label>
			<input asp-for="@Model.DealerName" class="form-control" maxlength="100" />
			<span asp-validation-for="@Model.DealerName" class="text-danger"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DealerWebsite" class="form-label"><strong>@Localizer["Dealer Website"] :</strong></label>
			<input asp-for="@Model.DealerWebsite" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.DealerWebsite" class="text-danger"></span>
			
	</div>
</div>

</div>
