@page
@model DetailsModel
@{
    ViewData["Title"] = Localizer["View Dealers"];
    ViewData["ActiveMainPage"] = "Dealers";
    ViewData["Level1"] = "CarStocks";
}
<div class="container-fluid" id="dealers-container">
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.Dealers" />
    </div>
</div>
<div id="toolbar-container" class="btn-group" role="group">
	<a asp-page="Index" class="btn btn-secondary" title="@Localizer["Back"]"><i class="fas fa-arrow-left"></i></a>
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Dealers.Create)).Succeeded)
    {
        <a asp-page="Add"  id="btnAddRecord" class="btn btn-success" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Dealers.Edit)).Succeeded)
    {
        <a asp-page="Edit" asp-route-id="@Model.Dealers.Id" class="btn btn-primary" title="@Localizer["Edit"]"><i class="fas fa-pen"></i></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Dealers.Delete)).Succeeded)
    {
        <a asp-page="Delete" asp-route-id="@Model.Dealers.Id" class="btn btn-danger" title="@Localizer["Delete"]"><i class="fas fa-trash"></i></a>
    }
	@if ((await AuthorizationService.AuthorizeAsync(User, Permission.Dealers.History)).Succeeded)
	{
		<a asp-page="History" asp-route-id="@Model.Dealers.Id" class="btn btn-primary" title="@Localizer["History"]"><i class="fas fa-history"></i></a>
	}
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_DisableFieldsPartial" model="@("dealers-container")" />
}