@page
@model HistoryModel
@{
    ViewData["Title"] = Localizer["Audit Trail - Cars"];
    ViewData["ActiveMainPage"] = "Cars";
    ViewData["Level1"] = "CarStocks";
}
<link rel="stylesheet" href="~/css/timeline.css" asp-append-version="true" />
<div class="container-fluid" id="cars-container">
    <div class="card">
        <h5 class="card-header"><span class="card-header-custom">Change History - (Record Id : @Model.Cars.Id)</span><br></h5>
        <div class="card-body">
            <ul class="timeline">
                @{
                    string invertedClass = "";
                    var userHelper = new OracleCMS.CarStocks.Web.Helper.UserHelper(Mediator);
                }
                @foreach (var item in Model.AuditLogList)
                {
                    <li class="@invertedClass">
                        @Html.Raw(item.TypeFormatted)
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="timeline-title"><button class="timeline-link btnShowAuditTrailModal" data-auditlogsid="@item.Id"><i class="fas fa-calendar-alt"></i>@item.DateTimeFormatted</button></h6>
                                <p class="timeline-history"><small class="text-muted"><i class="fas fa-history"></i>@(string.IsNullOrEmpty(item.DateTimeDuration) ? "Just now" : item.DateTimeDuration + " ago") by @Html.Raw(await userHelper.GetUserName(item.UserId!))</small></p>
                            </div>
                        </div>
                    </li>
                    if (invertedClass == "")
                    {
                        invertedClass = "timeline-inverted";
                    }
                    else
                    {
                        invertedClass = "";
                    }
                }
            </ul>
        </div>
    </div>
</div>
<div id="toolbar-container" class="btn-group" role="group">
    <a asp-page="Index" class="btn btn-secondary" title="@Localizer["Back"]"><i class="fas fa-arrow-left"></i></a>
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Cars.Create)).Succeeded)
    {
        <a asp-page="Add" id="btnAddRecord" class="btn btn-success" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Cars.Edit)).Succeeded)
    {
        <a asp-page="Edit" asp-route-id="@Model.Cars.Id" class="btn btn-primary" title="@Localizer["Edit"]"><i class="fas fa-pen"></i></a>
    }
</div>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@{
    var historyModalId = "changes-history-modal";
}
<partial name="_ModalPartial" model="@historyModalId" />
@section Scripts {
    <partial name="_DisableFieldsPartial" model="@("cars-container")" />

    <script asp-add-nonce>
        $(document).ready(function () {
            function InitializeForm() {
                //Pop-up Audit Trail
                function auditTrailModalPopup(reff) {
                    var auditlogsid = $(reff)[0].dataset.auditlogsid;
                    var url = '@Url.Page("/AuditTrail/Index", new { area = "CarStocks" })' + '?handler=ChangesHistory&auditlogsid=' + auditlogsid + '&moduleName=' + '@nameof(Model.Cars)';
                    var title = "Change History";
                    openModal("@historyModalId", url, title, null);
                }
                $(".btnShowAuditTrailModal").on('click', function (e) {
                    auditTrailModalPopup(this);
                });
            }
            InitializeForm();
        });
    </script>
}

